<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="codecracker.CSharp" version="1.0.1" targetFramework="net461" developmentDependency="true" />
  <package id="CommandLineParser" version="1.9.71" targetFramework="net452" />
  <package id="Desktop.Analyzers" version="1.1.0" targetFramework="net452" />
  <package id="Dhgms.GripeWithRoslyn.Analyzer" version="1.0.16.0-pre" targetFramework="net452" />
  <package id="Dhgms.QualityAssurancePack" version="1.0.13.0-pre" targetFramework="net452" />
  <package id="Foundatio" version="4.2.1183" targetFramework="net461" />
  <package id="JetBrains.Annotations" version="10.2.1" targetFramework="net461" />
  <package id="LibGit2Sharp" version="0.23.0" targetFramework="net461" />
  <package id="LibGit2Sharp.NativeBinaries" version="1.0.163" targetFramework="net461" />
  <package id="Microsoft.AnalyzerPowerPack" version="1.1.0" targetFramework="net452" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net452" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net452" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net452" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="1.1.0" targetFramework="net452" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="1.1.0" targetFramework="net452" />
  <package id="Microsoft.NETNative.Analyzer" version="1.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="Nito.AsyncEx" version="3.0.1" targetFramework="net452" />
  <package id="NuGet.CommandLine" version="3.4.3" targetFramework="net452" developmentDependency="true" />
  <package id="Octokit" version="0.23.0" targetFramework="net461" />
  <package id="Octokit.Reactive" version="0.23.0" targetFramework="net461" />
  <package id="RefactoringEssentials" version="4.4.0" targetFramework="net461" developmentDependency="true" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net452" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net452" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net452" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net452" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net452" />
  <package id="StyleCop.Analyzers" version="1.0.0" targetFramework="net452" developmentDependency="true" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.Analyzers" version="1.1.0" targetFramework="net452" />
  <package id="System.Runtime.InteropServices.Analyzers" version="1.1.0" targetFramework="net452" />
  <package id="System.Security.Cryptography.Hashing.Algorithms.Analyzers" version="1.1.0" targetFramework="net452" />
  <package id="Wintellect.Analyzers" version="1.0.6.0" targetFramework="net452" />
</packages>